img
{
    max-width: 100%;
}
.c-smooth {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.cart a {
    text-decoration: none
}

.cart-form th {
    font-size: 18px;
    font-weight: normal;
    color: #37250f;
    text-align: center;
    padding: 10px 0;
    background: #f1f1f1
}

.cart-form th,
.cart-form td {
    border: solid 1px #e1e1e1
}

.cart-form td {
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #37250f;
    text-align: center
}

.cart-form td a {
    color: #37250f
}

.cart-form td a:hover {
    text-decoration: underline
}

.cart-form td input {
    width: 55px;
    height: 40px;
    border: solid 1px #633810;
    padding-left: 8px;
    outline: none
}

.cart-form td a i {
    color: #f00;
    font-size: 20px
}

.cart-form td img {
    display: inline-block;
    max-width: 125px;
    max-height: 80px
}

.cart-btn {
    margin-top: 20px
}

.cart-btn button,
.cart-btn a {
    border: none;
    background: #ed1c24;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 165px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
    margin-right: 5px
}

.cart-btn button:hover,
.cart-btn a:hover {
    background: #e87719
}

.cart-info {
    width: 100%;
    margin-top: 20px
}

.cart-info td {
    padding: 5px 15px;
    border: solid 1px #ccc;
    font-size: 18px;
    color: #333
}

.cart>.container-fluid {
    padding: 0 5px
}

#modalCart .modal-body {
    padding: 0
}

a.cart-checkout {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: #e87719;
    margin-top: 10px;
    float: right
}

a.cart-checkout:hover {
    background: #ed1c24
}

#modalCart .modal-title {
    text-transform: uppercase;
    font-size: 20px
}

.c-smooth {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.checkout h2 {
    font-size: 24px;
    color: #37250f
}

.checkout span {
    font-size: 18px;
    color: #006abc;
    display: block;
    margin-bottom: 5px
}

.checkout span a {
    color: #006abc
}

.checkout a {
    text-decoration: none
}

.checkout span a:hover {
    text-decoration: underline
}

.checkout input,
.checkout select,
.checkout textarea {
    width: 100%;
    border: solid 1px #613816;
    margin-bottom: 15px;
    font-size: 16px;
    color: #37250f;
    padding-left: 15px;
    padding-right: 15px;
    outline: none
}

.checkout input,
.checkout select {
    height: 40px
}

.checkout input[type="checkbox"] {
    height: 14px;
    width: auto
}

.checkout label {
    font-size: 14px;
    color: #37250f;
    vertical-align: top;
    cursor: pointer
}

.btn-ch-info {
    font-size: 18px;
    color: #fff;
    padding: 8px 25px;
    border: none;
    margin-right: 5px;
    background: #e87719
}

.btn-ch-info:hover {
    background: #633810
}

.checkout-r {
    background: #633810;
    border-radius: 5px;
    padding: 10px
}

.checkout-r h3 {
    font-size: 18px;
    color: #fff;
    margin-top: 0;
    padding: 0px 10px;
    margin-bottom: 0
}

.checkout-r table {
    width: 100%
}

.line {
    border-bottom: solid 1px #fff
}

.checkout-r .line {
    margin: 8px -10px
}

.checkout-r table img {
    max-width: 100px;
    max-height: 60px
}

.checkout-r table h2 {
    color: #fff;
    font-size: 14px;
    margin: 0
}

.checkout-r table td {
    padding: 5px;
    font-size: 14px;
    color: #fff
}

.checkout-r table h2 a {
    color: #fff
}

.checkout-r table h2 a:hover {
    text-decoration: underline
}

.checkout-r form {
    position: relative
}

.checkout-r input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: #633810;
    padding-right: 100px;
    font-size: 18px;
    border: none
}

.checkout-r button {
    position: absolute;
    height: 45px;
    top: 0;
    right: 0;
    background: #006abc;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    padding: 0 15px
}

.checkout-r label {
    font-weight: normal;
    display: block;
    margin: 4px 0;
    font-size: 18px;
    color: #fff;
    cursor: default
}

.checkout-r label span {
    color: #fff;
    float: right;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 0
}

.checkout-r label:after {
    content: '';
    display: block;
    clear: both
}

.checkout-r label.ch-total {
    font-weight: bold
}

.checkout-r label.ch-total span {
    color: #e87719
}

a.ch-r-btn,
.ch-r-btn {
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background: #e87719;
    margin-top: 15px;
    border: none
}

a.ch-r-btn:hover,
.ch-r-btn:hover {
    background: #633810
}

.c-smooth {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.success a {
    text-decoration: none
}

.success-head {
    padding-left: 70px;
    margin-bottom: 30px;
    background-image: url(../images/sus.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%
}

.success-head label {
    font-size: 20px;
    font-weight: normal;
    color: #633810
}

.success-head p {
    font-size: 15px
}

.sus-add {
    padding: 15px;
    background: #ebebeb;
    border: solid 1px #ccc;
    border-radius: 5px
}

.sus-add h3 {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
    font-size: 18px;
    color: #000
}

.sus-add p {
    color: #000;
    margin-bottom: 15px
}

.sus-add p a {
    color: #000
}

.sus-add p a:hover {
    text-decoration: underline
}

.bill {
    padding: 15px 20px
}

.bill .line {
    border-bottom: solid 1px #fff;
    margin: 10px -20px
}

.bill h3 {
    font-size: 24px
}

.bill label.ch-total {
    font-size: 20px
}

.bill-ac {
    text-align: right
}

.bill-ac a.ch-r-btn {
    padding: 10px 30px;
    display: inline-block;
    margin-bottom: 8px
}

.bill-print {
    font-size: 20px;
    color: #633810;
    margin-left: 30px;
    display: inline-block
}

.bill-print:hover {
    color: #e87719
}

.bill-print:before {
    font-family: 'Glyphicons Halflings';
    content: "\e045";
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

.slider-item img {
    width: 100%;
    min-height: 160px;
}
.slider-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

/* CUSTOM */

.boxload {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 43%;
    top: 34%;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #9f9f9f;
    background: rgba(0, 0, 0, 0.5);
    border-top: 5px solid #1c733c;
    border-left: 5px solid white;
    border-bottom: 5px solid #f6dd79;
    border-right: 5px solid #e87719;
    -webkit-animation: load9 1.1s infinite linear;
    animation: load9 1.1s infinite linear;
}

.boxload img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.bgloading {
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    display: none;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes load9 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes load9 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes cssload-fold-thecube {
    0%,
    10% {
        transform: perspective(133px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(133px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(133px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%,
    10% {
        -o-transform: perspective(133px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -o-transform: perspective(133px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -o-transform: perspective(133px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%,
    10% {
        -ms-transform: perspective(133px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -ms-transform: perspective(133px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -ms-transform: perspective(133px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%,
    10% {
        -webkit-transform: perspective(133px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(133px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(133px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%,
    10% {
        -moz-transform: perspective(133px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -moz-transform: perspective(133px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -moz-transform: perspective(133px) rotateY(180deg);
        opacity: 0;
    }
}
.show-fix a {
    background: #f6dd79;
    text-transform: uppercase;
    display: block;
    padding-left: 20px;
    font: 16px "Roboto-Condensed";
    color: #2B658D;
    line-height: 40px;
    margin-right: 40px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
}
.show-fix a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid #f6dd79;
    border-bottom: 20px solid transparent;
    position: absolute;
    left: 100%;
    top: 0;
}
.main-menu
{
    visibility: hidden;
}

input[name="phone"]::-webkit-inner-spin-button,
input[name="phone"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.has-feedback .form-control-feedback {
    right: 15px
}

.has-success .form-control-feedback {
    color: #3c763d
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none
}

.has-error .form-control-feedback {
    color: #a94442
}
.has-error, .has-success {
    position: relative;
}
#modal-advisory .advisory-form input,
#modal-advisory .advisory-form textarea
{
    border: 2px solid transparent;
}
.back-to-top i
{
    position: fixed;
    color: #fff;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
}

.hotline-head
{
    padding-top: 12px;
}
/*RESPONSIVE*/
.dnd-popup .modal-content
{
    padding:30px 80px;
}
@media (min-width: 960px) {
    #modalCart .modal-dialog {
        width: 960px;
        margin: 30px auto
    }
    #modalCartSuccess .modal-dialog {
        width: 560px;
    }
    .dnd-popup .modal-dialog
    {
        width: 740px;
    }
}

@media all and (max-width: 767px) {
    .footer-contact
    {
        text-align: center;
    }
	.cart-btn button,
    .cart-btn a {
        font-size: 15px;
        width: 150px
    }
    .cart-info td,
    a.cart-checkout {
        font-size: 14px
    }
    .cart-form thead {
        display: none
    }
    .cart-form td,
    .cart-form th {
        font-size: 14px;
        padding: 0 5px;
        text-align: left;
        border: none
    }
    .cart-form td img {
        max-width: 100%;
        max-height: 100%
    }
    .cart-form td input[type="number"] {
        padding-left: 5px;
        width: 55px;
        height: 25px
    }
    .cart-form td:nth-child(5),
    .cart-form th:nth-child(5) {
        display: none
    }
    .cart-form tr {
        display: block;
        position: relative;
        padding: 10px 5px 10px 22%;
        border-bottom: solid 1px #e1e1e1
    }
    .cart-form tr:first-child {
        border-top: solid 1px #e1e1e1
    }
    .cart-form td input {
        border: solid 1px rgba(99, 56, 16, 0.4)
    }
    .cart-form td:nth-child(1) {
        width: 20%;
        position: absolute;
        left: 0;
        top: 12px;
        display: block;
        bottom: 5px;
        padding: 0;
        text-align: right
    }
    .cart-form td:nth-child(2) {
        display: block;
        margin-bottom: 5px
    }
    .cart-form td:nth-child(2) a {
        color: #ed1c24;
        font-size: 15px
    }
    .cart-form td:nth-child(3),
    .cart-form td:nth-child(4) {
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle
    }
    .cart-form td:nth-child(6) {
        display: inline-block;
        float: right;
        vertical-align: middle
    }
    .cart-form td a i {
        font-size: 15px;
        margin-top: 5px
    }
	.success-head {
        padding-left: 0;
        background-position: left top;
        background-size: 28px 28px
    }
    .success-head label {
        padding-left: 40px
    }
    .bill label.ch-total {
        font-size: 16px
    }
    .bill-print {
        font-size: 16px
    }
    .bill-print:before {
        font-size: 24px
    }
    .checkout span {
        font-size: 16px
    }
    .checkout input,
    .checkout select,
    .checkout textarea {
        font-size: 15px
    }
    .checkout-r {
        margin-top: 20px
    }
    .checkout-r table img {
        max-width: 70px
    }
    .checkout-r input,
    .checkout-r button {
        height: 38px;
        font-size: 15px
    }
    .checkout-r label {
        font-size: 16px
    }
    a.ch-r-btn,
    .ch-r-btn {
        font-size: 20px
    }
}

@media (max-width: 360px) {
    .cart-btn button,
    .cart-btn a {
        width: 49%;
        float: left
    }
    .cart-btn a {
        margin: 0
    }
    a.cart-checkout {
        width: 100%;
        text-align: center
    }
}