/*
 * Description of custom
 * @author trungthuc
 * @date Jan 27, 2015
 */
.stdform input.clear {
    border: none !important;
}
.multi-object {
    padding: 10px 15px;
    border-radius: 5px;
    border:1px #ccc solid;
    width: 45%;
}
.multi-object li {
    list-style: none;
    clear:both;
}
.multi-object li input {
    float:left;
    margin-right: 10px;
}
.multi-object li ul {
    margin-left: 20px;
}
input.multiple{
    width: 80px;
    display: block;
    float:left;
    padding: 5px;
    margin:5px 10px 0px 0px;

}
a.remove, a.change {
    cursor: pointer;
    margin-right: 10px;
    float:left;
    margin-top: 15px;
}
.imagePrev {
    float:left;
    margin-right: 10px;
}
.field .thumbs {
    padding: 2px;
    border:1px #CCC solid;
    width: 84px;
    height: 50px;
}
input.single_file {
    width: 80px;
}
a.remove_single {
    cursor: pointer;
    margin-right: 10px;
    float:left;
    margin-top: 12px;
}
.header .logo{
    padding-top: 20px;
}
.description_file {
    width:300px;
    float:left;
    margin:10px 10px 0px 10px;
}
.clear {
    width: 100%;
    clear: both;
    display: block;
}
.preView {
    /*float: left;*/
    padding-top: 10px;
    padding-right: 10px;
}
/*language*/
.selectLanguage {
    margin:10px 20px;
}
/*sort menu*/
ol {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

ol.sortable, ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.sortable {
    margin: 4em 0;
}

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
}

.sortable li div  {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    cursor: move;
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.sortable li.mjs-nestedSortable-branch div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 10px;
    display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '+ ';
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '- ';
}
/*add boostrap something*/
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-sm-4 {
    width: 28%;
}
.col-sm-8 {
    width: 65%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.headmenu .dropdown-menu::after
{
    content:"";
    border:0;
}