<!DOCTYPE html>
<html lang="en">
<head>
	<title>Không tìm thấy trang</title>
	{link_tag('template/frontend/styles/bootstrap.min.css')}
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 text-center">
				<img class="img-responsive" src="{base_url()}{$ext.logo.img}" alt="" style="margin:auto;padding:15px 0;">
				<div class="area-content">
					<h1 style="margin:0;padding:0 0 15px 0;">404</h1>
					<p>Không tìm thấy trang</p>
					<p>Trở về <a href="{base_url()}">trang chủ</a></p>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>		
	</div>
	{script_tag('template/frontend/scripts/jquery.min.js')}
	{script_tag('template/frontend/scripts/bootstrap.min.js')}
</body>
</html>