<footer>
    <div class="container">
        <div class="footer1">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <h3 class="footer1-title">Bao tử trường sinh</h3>
                    <a href="index.html" title=""><img src="{base_url()}{$ext.logo.img}" class="img-responsive margin-auto" alt="Bao tử trường sinh"></a>
                    <br>
                    <p>"Chiết xuất 100% từ thiên nhiên"</p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <h3 class="footer1-title">Facebook</h3>
                    <div id="fb-root"></div>
                    <div class="fb-page" data-width="500" data-href="{$socials.facebook}" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="{$socials.facebook}"><a href="{$socials.facebook}">Facebook</a></blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 footer-contact">
                    <h3 class="footer1-title">Địa chỉ mua thuốc</h3>
                    <p>Điện thoại: <a href="tel:{$ext.hotline.content}">{$ext.hotline.content}</a></p>
                    <p>Email: {$ext.email.content}</p>
                    <p>Website: {$ext.website.content}</p>
<!--                    <p>&nbsp;</p>-->
                    <!-- <p><img class="img-responsive" src="{base_url('template/frontend/images/ft.jpg')}" alt="" /></p> -->
<!--                    <p>&nbsp;</p>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="hotline-foot1"><span>Hãy gọi để được tư vấn</span>
                    <label>Hỗ trợ: <a class="smooth" href="tel:{$ext.hotline.content}" title="">{$ext.hotline.content}</a></label>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="social-foot1"><span>Liên kết:</span>
                <a class="smooth" href="{$socials.facebook}" title="{$socials.facebook}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a class="smooth" href="{$socials.gplus}" title="{$socials.gplus}"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                <a class="smooth" href="{$socials.youtube}" title="{$socials.youtube}"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            </div>
            </div>
        </div>
    </div>
    <div class="foot1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12"><span>{$ext.maps.content}</span></div>
            </div>
        </div>
    </div>
</footer>
<!-- <div class="modal fade tm-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content tm-popup-ct">
            <button type="button" class="close-modal smooth" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button>
            <h3>Đặt hàng nhanh</h3>
            <form>
                <table>
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Giá tiền</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="chitietsanpham.html" title=""><img src="images/img1.png" alt=""></a>
                            </td>
                            <td><a class="smooth" href="chitietsanpham.html" title="">Hải đường an khang</a></td>
                            <td>450.000đ</td>
                            <td>
                                <input type="number" min="1" value="1">
                            </td>
                            <td>450.000đ</td>
                            <td><a href="#" title=""><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="chitietsanpham.html" title=""><img src="images/img1.png" alt=""></a>
                            </td>
                            <td><a class="smooth" href="chitietsanpham.html" title="">Hải đường an khang</a></td>
                            <td>450.000đ</td>
                            <td>
                                <input type="number" min="1" value="1">
                            </td>
                            <td>450.000đ</td>
                            <td><a href="#" title=""><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6 col-xs-12 text-right">
                        <button class="smooth" type="button">Tổng thành tiền</button>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6 col-xs-12"><span>Tổng thành tiền: </span>
                        <label>450.000đ</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6 col-xs-12">
                        <input type="text" placeholder="Họ và tên">
                        <input type="text" placeholder="Số điện thoại">
                    </div>
                    <div class="col-sm-6 col-sm-pull-6 col-xs-12">
                        <input type="text" placeholder="Địa chỉ">
                        <input type="text" placeholder="Nội dung">
                    </div>
                </div>
                <div class="tm-popup-btn">
                    <button class="smooth" type="submit">Đặt hàng</button>
                    <button class="smooth" type="button">Hủy bỏ</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
{if $this->session->userdata(base64_encode('is_modal')) !=1}
<div class="modal fade dnd-popup" tabindex="-1" role="dialog" id="modal-advisory" data-show-modal="{$time_show_modal}" data-show-modal-after-off="{$time_show_modal_after_off}">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close-modal smooth" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button>
            <h2>Bao tử trường sinh</h2>
            <p>Hãy <span>để lại thông tin</span> để <span>dược sĩ</span> của chúng tôi <span>tư vấn miễn phí cho bạn</span></p>
            <form class="advisory-form ajxfrm container-fluid" method="post" action="">
                <div class="row">
                    <div class="col-sm-12">
                        <label><i class="fa fa-user"></i>Họ và tên</label>
                        <div>
                            <input name="your-name" type="text" placeholder="Họ và tên">
                        </div>
                        <label><i class="fa fa-phone"></i>Số điện thoại</label>
                        <div>
                            <input name="phone" type="number" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-xs-12">
                        <label><i class="fa fa-plus"></i>Tình trạng bệnh</label>
                        <textarea name="question" rows="5" placeholder="Tình trạng bệnh"></textarea>
                    </div> -->
                </div>
                <button class="smooth" type="submit">Gửi thông tin tư vấn</button>
            </form>
            <p><span>(*) Mọi thông tin cá nhân đều được bảo mật an toàn</span></p>
        </div>
    </div>
</div>
{/if}
<div class="phone-fix"><i class="fa fa-phone" aria-hidden="true"></i><a class="phone-mo" href="tel:{$ext.hotline.content}" title="">Hotline<br><span>{$ext.hotline.content}</span></a></div>
<div class="register-fix hidden-md hidden-lg"><a class="phone-mo" href="#" title="" data-toggle="modal" data-target=".dnd-popup">Đăng ký</a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
<div class="bgloading">
    <div class="boxload"><img src="{base_url()}{$ext.logo.img}" alt="Bao tử trường sinh"></div>
</div>

<!-- Modal -->
<!-- CART -->
<div id="modalCart" class="modal fade tm-popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content tm-popup-ct">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Giỏ hàng của bạn</h4> </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<div id="modalCartSuccess" class="modal fade tm-popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content tm-popup-ct">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đặt hàng thành công</h4> 
            </div>
            <div class="modal-body">
                <p class="text-center text-success">Quý khách đã đặt hàng thành công. Cảm ơn quý khách đã tin dùng !.</p>

                <p class="text-center text-success">Chúng tôi sẽ liên hệ với quý khách hàng trong thời gian sớm nhất!</p>

                <p class="text-center"><a href="{base_url()}" class="text-primary">Đóng</a></p>
            </div>
        </div>
    </div>
</div>