<header>
    <div class="header">
        <div class="container pad-5">
            <div class="row mar-5">
                <div class="col-lg-2 col-md-2 col-xs-12 pad-5 hidden-sm hidden-xs">
                    <a class="logo" href="" title=""><img class="img-responsive" src="{base_url()}{$ext.logo.img}" alt="logo"></a>
                </div>
                <div class="col-lg-7 col-md-10 col-xs-12 pad-5 hidden-sm hidden-xs">
                    <div class="main-menu">
                        <ul>
                            <li><a class="smooth" href="" title="Bao tử trường sinh"><i class="fa "></i>Bao tử trường sinh</a>
                                <ul></ul>
                            </li>
                            <li><a class="smooth" href="cam-nang" title="CẨM NANG"><i class="fa "></i>CẨM NANG</a>
                                <ul></ul>
                            </li>
                            <li><a class="smooth" href="cam-nhan-khach-hang" title="Cảm nhận khách hàng"><i class="fa "></i>Cảm nhận khách hàng</a>
                                <ul></ul>
                            </li>
                            <li><a class="smooth" href="lien-he" title="Liên hệ"><i class="fa "></i>Liên hệ</a>
                                <ul></ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-xs-12 pad-5 hide-fix">
                    <div class="hotline-head"><span>Hotline</span><a class="smooth" href="tel:{$ext.hotline.content}" title="">{$ext.hotline.content}</a>
                        <br>
                        <a class="smooth"  style="visibility: hidden;" href="tel:{$ext.hotline.content}" title=""></a>
                    </div>
                    <form action="tim-kiem" class="search-head hide">
                        <input type="text" name="s" placeholder="Tìm kiếm">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-12 col-xs-12 pad-5 show-fix"><a class="smooth" href="#" title="" data-toggle="modal" data-target=".dnd-popup">Đăng ký tư vấn ngay</a></div>
            </div>
        </div>
    </div>
    <nav class="mobile-menu hidden-md hidden-lg">
        <a class="mobile-logo" href="" title=""><img class="img-responsive" src="{base_url()}{$ext.logo.img}" alt=""></a>
        <button class="menu-btn" style="visibility: hidden;"><i class="menu-btn-bar"></i></button>
        <ul>
            <li><a class="smooth" href="" title="">Bao tử trường sinh</a>
                <ul></ul>
            </li>
            <li><a class="smooth" href="cam-nang" title="">CẨM NANG</a>
                <ul></ul>
            </li>
            <li><a class="smooth" href="cam-nhan-khach-hang" title="">Cảm nhận khách hàng</a>
                <ul></ul>
            </li>
            <li><a class="smooth" href="lien-he" title="">Liên hệ</a>
                <ul></ul>
            </li>
        </ul>
    </nav>
</header>

