<div id="slider" class="carousel slide carousel-fade" data-pause="hover" data-interval="10000">
    <div class="carousel-inner" role="listbox">
    	{foreach $sliders as $key => $slider}
        <div class="item {if $key==0}active{/if}">
            <div class="slider-item">
            	<img src="{base_url()}{$slider.image}" alt="{$slider.name}">
                <div class="slider-caption">
                    <div class="slc-line">
                        <h2 class="animated fadeInLeft delay-0"></h2></div>
                </div>
            </div>
        </div>
        {/foreach}
        <a class="left carousel-control smooth" href="#slider" role="button" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a><a class="right carousel-control smooth" href="#slider" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="slider-icon-btn"><span class="hand-icon"><i class="fa fa-hand-o-down" aria-hidden="true"></i></span><a class="slider-btn def-btn" href="#" title="" data-toggle="modal" data-target=".dnd-popup">Đăng ký tư vấn ngay</a></div>
    </div>
</div>
<div class="container">
    <div class="h-about angle-box">
        <div class="angle"><i class="top-left"></i><i class="top-right"></i><i class="bottom-left"></i><i class="bottom-right"></i></div>
        <h3 class="md-title">{$product.name}</h3>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="single-content">
                    <h2 class="text-center">
                    	<span style="font-family: 'comic sans ms', sans-serif; color: #0000ff;">{$product.description}</span>
                    </h2>
                    <div class="pro-content">
                    	{$product.content}
                    </div>
                </div>
                <div class="h-about-hotline">
	                <i class="fa fa-phone" aria-hidden="true"></i><span>Hotline tư vấn:</span>
	                <a href="tel:{$ext.hotline.content}" title="">{$ext.hotline.content}</a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <img class="img-responsive" src="{base_url()}{$product.image}" alt="{$product.name}">
                <div class="pa-red-down">
                    <div class="red-down"><span></span></div><a class="smooth add_cart" pro-id="{$product.id}" href="#" title="">Đặt thuốc online</a>
                </div>
                <div class="booking-online" style="margin-top: 15px;">
                    <img src="{base_url('template/frontend/images/bor-bot.png')}">
                    <h3 style="font-size: 26px;">Đăng ký tư vấn miễn phí</h3>
                    <p style="font-size: 18px;">Bệnh nhân cần đăng ký tư vấn MIỄN PHÍ hãy để lại thông tin dưới đây sẽ được tư vấn miễn phí</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pa-red-down">
                                <div class="red-down"><span></span></div>
                            </div>
                            <form method="post" class="advisory-form book-form">
                                <div><input type="text" name="your-name" placeholder="Họ và tên"></div>
                                <div><input type="number" name="phone" placeholder="Số điện thoại"></div>
                                <!-- <div><textarea name="question" rows="5" placeholder="Tình trạng bệnh"></textarea></div> -->
                                <button class="smooth" type="submit">Đăng ký tư vấn ngay</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="margin-top : 15px;">
                    <div style="position:relative;height:0;padding-bottom:56.21%"><iframe src="https://www.youtube.com/embed/cjXQCRRiXYQ?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="641" height="360" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="h-featured bg">
    <div class="container">
        <h3 class="md-title md-title1">Đặc tính nổi trội của Bao tử trường sinh</h3>
        <div class="row hidden-sm hidden-xs">
            <div class="col-md-4 col-md-offset-4">
            	<img class="img-responsive" src="{base_url()}{$cate_outstanding_characteristics.image}" style=" width: 75%;" alt="{$cate_outstanding_characteristics.name}">
            </div>
        </div>
        {foreach $outstanding_characteristics as $key => $item_outstanding_characteristics}
        <div class="feat feat{$key+1} clearfix"><img class="img-responsive" src="{base_url()}{$item_outstanding_characteristics.image}" alt="{$item_outstanding_characteristics.description}">
            {$item_outstanding_characteristics.content}
        </div>
        {/foreach}
    </div>
</div>
<div class="trophy">
    <div class="container">
        <h3 class="md-title md-title2">Chứng nhận của nhà thuốc</h3>
        <div class="row">
        	{foreach $certifies as $item_certify}
            <div class="col-sm-6"><img class="img-responsive" src="{base_url()}{$item_certify.image}" alt="{$item_certify.name}"></div>
            {/foreach}
        </div>
    </div>
</div>
<div class="feel">
    <div class="container">
        <h3 class="md-title md-title1">Cảm nhận của khách hàng<span style=" font-size: 16px; font-family: arial; text-transform: initial; width: 100%;display: block;">(Thuốc có tác dụng với tùy cơ địa của từng người)</span></h3>
        <div id="feel" class="carousel slide" data-pause="hover" data-interval="10000">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="feel-item animated fadeInRightBig delay-5"><img class="img-responsive" src="{base_url()}{$feels[0]['image']}" alt="{$feels[0]['description']}">
                        <div class="feel-ct clearfix">
                            <div style="line-height:20px">
                                {$feels[0]['content']}
                            </div><span>{$feels[0]['description']}</span></div>
                    </div>
                    <div class="feel-item animated fadeInRightBig delay- feel-item2"><img class="img-responsive" src="{base_url()}{$feels[1]['image']}" alt="{$feels[1]['description']}">
                        <div class="feel-ct clearfix">
                            <div style="line-height:20px">
                                {$feels[1]['content']}
                            </div><span>{$feels[0]['description']}</span></div>
                    </div>
                    <div class="feel-item animated fadeInRightBig delay-10"><img class="img-responsive" src="{base_url()}{$feels[2]['image']}" alt="{$feels[2]['description']}">
                        <div class="feel-ct clearfix">
                            <div style="line-height:20px">
                                {$feels[2]['content']}
                            </div><span>{$feels[0]['description']}</span></div>
                    </div>
                </div>
                <div class="item ">
                    <div class="feel-item animated fadeInRightBig delay-5"><img class="img-responsive" src="{base_url()}{$feels[3]['image']}" alt="{$feels[3]['description']}">
                        <div class="feel-ct clearfix">
                            <div style="line-height:20px">
                                {$feels[3]['content']}
                            </div><span>{$feels[0]['description']}</span></div>
                    </div>
                    <div class="feel-item animated fadeInRightBig delay- feel-item2"><img class="img-responsive" src="{base_url()}{$feels[4]['image']}" alt="{$feels[4]['description']}">
                        <div class="feel-ct clearfix">
                            <div style="line-height:20px">
                                {$feels[4]['content']}
                            </div><span>{$feels[0]['description']}</span></div>
                    </div>
                </div>
            </div>
            <div class="right carousel-control smooth" href="#feel" role="button" data-slide="next">
                <div class="ctrl-text">
                    <label>Họ nói gì</label><span>Khi sử dụng Bao tử Trường Sinh</span></div><img src="{base_url('template/frontend/images/next.png')}" alt="Cảm nhận tiếp theo"></div>
        </div>
    </div>
</div>
<div class="booking-online">
    <div class="container">
        <h3>Đăng ký tư vấn miễn phí</h3>
        <p>Bệnh nhân cần đăng ký tư vấn MIỄN PHÍ hãy để lại thông tin dưới đây sẽ được tư vấn miễn phí</p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a href="#" title=""><img class="img-responsive" src="{base_url('template/frontend/images/doctor.jpg')}" alt=""></a>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="pa-red-down">
                    <div class="red-down"><span></span></div>
                </div>
                <form method="post" class="advisory-form book-form">
                    <div><input type="text" name="your-name" placeholder="Họ và tên"></div>
                    <div><input type="number" name="phone" placeholder="Số điện thoại"></div>
                    <!-- <div><textarea name="question" rows="5" placeholder="Tình trạng bệnh"></textarea></div> -->
                    <button class="smooth" type="submit">Đăng ký tư vấn ngay</button>
                </form>
            </div>
        </div>
    </div>
</div>