<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$meta_title}</title>
		<meta name="description" content="{$meta_description}" />
        <meta name="keywords" content="{$meta_keyword}" />
        <meta name="copyright" content="{base_url()}" />
        <meta name="author" content="{base_url()}" />
        <meta name="revisit-after" content="1 days" />
        <meta name="robots" content="follow, index" />
        <meta name="geo.region" content="VN" />
        <meta name="geo.position" content="" />
        <meta name="ICBM" content="" />
        <meta name="p:domain_verify" content=""/>
		<meta property="og:type" content="article" />
		<meta property="og:author" content="{base_url()}" /> 
		<meta property="og:title" content="{$meta_title}" />
		<meta property="og:site_name" content="{$meta_title}" />
		<meta property="og:image" content="{base_url('template/frontend/images/logo-truongxuansen.png')}" />
        <link rel="canonical" href="{current_url()}"/>
        <link rel="shortcut icon" type="image/x-icon" href="{base_url()}{$favicon}">
        <!-- MÃ WMT -->
		{$seo.code_wmt}
		<!-- MÃ ANALYTICS -->
		{$seo.code_analytics}

		{link_tag('template/frontend/css/style.css')}
		{link_tag('template/frontend/css/custom.css')}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/stylesheet">
	        @-webkit-viewport { width: device-width; } @-moz-viewport { width: device-width; } @-ms-viewport { width: device-width; } @-o-viewport { width: device-width; } @viewport { width: device-width; }
	    </style>
		<script type="text/javascript">
			var base_url = '{base_url()}';
        </script>
	</head>
	<body>
		{include file="header.phtml"}
		{include file="$view.phtml"}
		{include file="footer.phtml"}
		{script_tag('template/frontend/js/scripts.min.js')}
		{script_tag('template/frontend/js/myscript.js')}
		{script_tag('template/frontend/js/simply-toast.min.js')}
		{script_tag('template/frontend/js/cart.js')}
	    

        <script>
	       	$(document).ready(function(e) {
	          	$('a.btndel').click(function(e) {
					var stt=confirm('Bạn có chắc muốn xóa');
					if(stt==true)
					{
						var id=$(this).attr('rel');
						$('#'+id).val(0);
						$('#btnupdate').click();
					}
	    		});	    
	     	});
		</script>
	</body>
</html>

